services:
  game:
    build: .
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./src:/app/src
      - ./deno.jsonc:/app/deno.jsonc
      - ./import_map.json:/app/import_map.json
      - ./.env:/app/.env

  smoke_test:
    build:
      context: .
      dockerfile: ./test/Dockerfile
    environment:
      GAME_HOST: game
      DEBUG: $(DEBUG)
    profiles:
      - test
    volumes:
      - ./test:/app/test
      - ./deno.jsonc:/app/deno.jsonc
      - ./import_map.json:/app/import_map.json

  db:
    image: postgres:15
    command: ["postgres", "-c", "log_statement=all"]
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: foo
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_TEST_DB: ${POSTGRES_TEST_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./db/src/schema.sql:/schema.sql
      - ./db/util:/util

  dbtypes_generate:
    build: db/type_generate
    user: "${UID_GID}"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    profiles:
      - tooling
    volumes:
      - ./db/type_generate/run.sh:/app/run.sh
      - ./src:/app/output

volumes:
  pgdata:
