name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - run: cp .env.example .env
      - run: deno fmt --check
      - run: deno lint
      - run: deno task test:smoke

  migrate_database:
    needs: build
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
    steps:
      - uses: actions/checkout@v3
      - run: docker compose run --rm migration_run

  deploy:
    needs: migrate_database
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      DENO_DEPLOY_TOKEN: ${{ secrets.DENO_DEPLOY_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/deployctl@v1
        with:
          project: thegame
          entrypoint: src/main.ts
